<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Settings</h2>
                <p class="card-description">
                    General user information
                </p>
                <form class="forms-sample" [formGroup]="formulario" (ngSubmit)="updateProfie()" novalidate>
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="name"
                            class="form-control" id="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" formControlName="email"
                            class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email_confirmation" class="col-sm-3 col-form-label">Email Confirmation</label>
                        <div class="col-sm-9">
                            <input type="email" formControlName="email_confirmation"
                            class="form-control" id="email_confirmation"
                                placeholder="Email Confirmation">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type_document">Document type </label>
                        <select class="form-control" formControlName="type_document" id="type_document">
                            <option *ngFor="let type of types" [value]="type.type">{{type.name}}</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label for="nit" class="col-sm-3 col-form-label">NIT</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="nit" class="form-control" id="nit" placeholder="NIT">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-sm-3 col-form-label">Mobile</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Mobile number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="address" class="form-control" id="address" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Photo upload</label>
                        <input type="file" name="photo" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" formControlName="photo" class="form-control file-upload-info" disabled=""
                                placeholder="Upload Photo">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                        </div>
                    </div>

                    <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>