<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/home/category']">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Categoria</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/home/product']">
        <i class="mdi mdi-chart-pie menu-icon"></i>
        <span class="menu-title">Producto</span>
      </a>
    </li>
  </ul>
</nav>