<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth lock-full-bg">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-transparent text-left p-5 text-center">
              <p>El usuairo no se encuentra activo.</p>
              <div class="form-group">
                <button type="button" class="btn btn-success" (click)="resendEmail()">Reenviar Email</button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success" (click)="home()">Inicio</button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-danger" (click)="logout()">Salir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>