<div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <app-navbar></app-navbar>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_sidebar.html -->
          <app-sideebar></app-sideebar>
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <app-footer></app-footer>
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
      <!-- container-scroller -->
